<div class='container'>

  <img
    class='single-img'
    src='{{randomBeer.image_url}}'
    alt='{{randomBeer.name}}'
  />
  <div class='singlecard-body'>

    <h5 class='singlecard-title'>
      {{randomBeer.name}}
    </h5>
    <p class='singlecard-text'>
      {{randomBeer.tagline}}
    </p>
    <p class='singlecard-desc'>
      {{randomBeer.description}}
    </p>
    <p class='singlecard-foodpair'>
      {{randomBeer.food_pairing}}
    </p>
    <p class='singlecard-tips'>
      {{randomBeer.brewers_tips}}
    </p>

  </div>
</div>